<!--
###################################################
# ktn002_拠点情報追加画面
#
#
###################################################
-->

<% provide(:title, '拠点情報追加') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <div>

        <%= form_for(@kyoten_new, url: touroku_baseplace_path, method: :patch) do |f| %>
                
        <table class = "table-bordered table-striped table-condensed">
          <tr>
            <td>拠点番号</td>
            <td>拠点名</td>
            <td>勤怠種類</td>
          </tr>

          <tr>
            <th>自動採番<%#= f.text_field :id, class: "form-control" %></th>
            <td><%= f.text_field :kyoten_name, class: "form-control" %></td>
            <td><%= f.text_field :kyoten_shurui, class: "form-control" %></td>
          </tr>
        </table>
        
        <div><%= f.submit "新規登録", class: "btn btn-primary btn-soushin" %></div>
        
      <% end %>

      </div>
    </div>
  </div>
</div>